@use "../utils/variables" as *;
@use "../themes/default" as *;

html {
    background: var(--background);
    height: 100%;
}

main {
    color: var(--text);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: $size-64 $size-18 $size-64 $size-18;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

svg {
    color: var(--text);
}

hr {
    border: none;
}
