@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

body {
    font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-size: $size-16;
    line-height: 1.8;
    color: var(--text);
}
h1,
h2,
h3,
h4 {
    font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--title);
}

h1 {
    font-size: $size-40;
    text-align: left;
}

h2 {
    font-size: $size-24;
    text-align: left;
}

h3 {
    font-size: $size-20;
}

@media (min-width: $md) {
    body {
        font-size: $size-16;
    }
    h1 {
        font-size: $size-40;
    }
    h2 {
        font-size: $size-32;
    }
    button,
    a {
        font-size: $size-16;
    }
}
@media (min-width: $lg) {
    h1 {
        font-size: $size-48;
    }
    h2 {
        font-size: $size-36;
    }
}
