@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
