@use "../utils/variables" as *;

main > section {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2),
    &:last-child{
        --background:          #{$color-brown};
        --secondary:           #{$color-gold-light};
        --title:               #{$color-cream};
        --text:                #{$color-cream};
        --gradient-start :     #{$color-gold};
        --gradient-end:        #{$color-gold-light};
        --border-color:        #{$color-brown-mid};
        --background-button:   #{$color-brown};
        --background-button-hover: #{$color-gold};
    }

    &:nth-child(4){
        --background:          #{$color-cream-medium};
        --title:               #{$color-brown};
        --text:                #{$color-brown};
    }
}


